@import url("../global-styles.css");

/* Layout */
.faq {
  padding: 4rem 1rem;
  background: #f9fafb;
  overflow-x: hidden;
}

.faq .container {
  max-width: 800px;
  margin: 0 auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Accordion */
.faq details {
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem 0;
}

.faq summary {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.125rem;
  color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq summary::after {
  content: "+";
  font-size: 1.5rem;
  color: var(--main-color);
  transition: transform 0.3s ease;
}

.faq details[open] summary::after {
  content: "−";
  transform: rotate(180deg);
}

.faq p {
  margin-top: 0.75rem;
  color: #4b5563;
  line-height: 1.5;
  font-size: 0.95rem;
}

/* Hover effect */
.faq summary:hover {
  color: var(--main-color);
}

.faq h2{
  transform: translateY(40px);
  opacity: 0;
  transition: 1s ease;
  filter: blur(5px);
}
.faq h2.show{
    transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.faq details{
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.faq details:nth-child(1){
  transition-delay: 0.1s;
}
.faq details:nth-child(2){
  transition-delay: 0.2s;

}
.faq details:nth-child(3){
  transition-delay: 0.3s;

}
.faq details:nth-child(4){
  transition-delay: 0.4s;

}

.faq .faqs.show details{
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

