@import url(../global-styles.css);
.team {
  text-align: center;
  padding: 4rem 1.5rem;
  background: var(--blueish-bg);
  font-family: "Source Serif Pro", serif;
  overflow-x: hidden;

}

.team-title {
  margin-bottom: 0.5rem;
  color: #111;
}

.team-subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 3rem;
}

.team-grid {
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  background: #fff;
  flex-basis: 250px;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  /* margin: auto; */
}

.team-member h3 {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  color: #111;
}

.team-member .role {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.team-member .bio {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
}

.team-text{
  opacity: 0;
  visibility: hidden;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.team-member{
    opacity: 0;
  visibility: hidden;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

@media (min-width: 768px) {
  .team-member:nth-child(1){
    transition-delay: 0.1s;
  }
  .team-member:nth-child(2){
    transition-delay: 0.2s;

  }
  .team-member:nth-child(3){
    transition-delay: 0.3s;

  }
  .team-member:nth-child(4){
    transition-delay: 0.4s;

  }
}

section#team.show .team-text{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  visibility: visible;
}

.team-member.show{
   opacity: 1;
  transform: translateX(0);
  filter: blur(0);
  visibility: visible;
}

