@import url("../global-styles.css");

section.waitlist-section {
  text-align: center;
  padding: 2rem 1rem;
  background: var(--blueish-bg);
  width: 100%;
  /* margin: 3rem auto; */
  display: flex;
  justify-content: center;
  min-height: 460px;
}

.waitlist-content {
  max-width: min(600px, 100%);
}
.waitlist-title {
  font-family: "Source Serif Pro", serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.5rem;
  color: #333;
}

.waitlist-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 2rem;
  color: #666;
}

form.waitlist-form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.input-group {
  flex-basis: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#email-feedback {
  font-size: 0.8rem;
  font-style: italic;
  color: red;
}

.waitlist-form input {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 2px solid #eee;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.waitlist-form input:focus {
  border-color: var(--main-color);
}

.waitlist-form button {
  background: var(--main-color);
  border: none;
  height: 54px;
  width: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;

  /* smooth transition */
  transition:
    transform 0.15s ease,
    filter 0.15s ease,
    box-shadow 0.15s ease;
}

.waitlist-form button:hover {
  filter: brightness(1.05); /* subtle glow effect */
  transform: translateY(-2px); /* tiny lift on hover */
}

.waitlist-note {
  margin-top: 1.5rem;
  color: #444;
  font-size: 0.95rem;
  span {
    color: var(--main-color);
  }
}

.success {
  margin-top: 1rem;
  padding: 0.8rem;
  background: #d4f5d4;
  border-radius: 0.5rem;
  color: #0a662e;
  font-weight: 500;
  display: none; /* shown with JS later */
}

.error {
  margin-top: 1rem;
  padding: 0.8rem;
  background: #f8a6a6;
  border-radius: 0.5rem;
  color: #66100a;
  font-weight: 500;
  display: none;
}

